.post-title{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 10px;
  cursor: pointer;
}
